{% extends "base.html" %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
        <div class="ui pink fluid segment" style="background-color:lightpink">
            <h2 class="ui center aligned header">Categoria</h2>

        <form class="ui form segment" style="background-color: pink" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">

                <label>Nome da categoria</label>
                {{ form.titulo }}

            </div>
            <div class="field">
                <label>Colocar uma imagem</label>
                {{ form.image }}
            </div>

            <div class="ui grid">
                <div class="sixteen wide column">
                    <button type="submit" class="ui fluid violet button">
                      Submeter
                    </button>
                </div>
            </div>
        </form>
        </div>
        <a href="{% url 'administracao' %}" class="ui left floated button">
            Voltar
            </a>

    </div>

{% endblock %}

