{% extends "base.html" %}
{% block content %}
<div class="two wide column"></div>
<div class="twelve wide column">
        <div class="ui pink fluid segment" style="background-color: pink">
<div class="ui relaxed form">
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <div class="field">
                    <label>Título</label>
                    {{ form.title }}
                </div>
            </div>
            <div class="field">
                    <div class="field">
                        <label>Texto</label>
                        {{ form.description }}
                    </div>
                </div>
            <div class="field">
                    <div class="field">
                        <label>Subir imagem</label>
                        <button>
                        {{ form.image }}
                    </button>
                    </div>
                </div>
                <button type="submit" class="ui fluid violet button">
                        Postar
                </button>
        </form>
    </div>
</div>
{% endblock %}