{% extends "base.html" %}
{% block content %}

<div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="two wide column"></div>
    <div class="ui pink fluid segment">
        <h2>Tem certeza que deseja deletar o post {{ form.title }}?</h2>

        <form class="ui form segment"method="POST" enctype=multipart/form-data">
            {% csrf_token %}

        <button class="pink fluid ui button" type="submit">Delete</button>
        </form>
    </div>

    </div>

{% endblock %}