{% load staticfiles %}
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/hand_icon.png' %}" type="image/x-icon" >
    <title>{% block title %}Blog da Dona Ana{% endblock %}</title>
</head>

    <body style="background-color:lightpink; margin-top: 10%">
        <article class="ui middle aligned center aligned grid">
            <div class="row">
                <div class="five wide column"></div>
                <div class="ui six wide column segment">
                    <div class="row">
                        <h2 class="ui center aligned icon header">
                            <i class="purple comments outline icon"></i>
                            Faça log-in para participar
                        </h2>
                    </div>
                    <div class="row">
                        <form class='ui form' method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="Digite o seu usuário" required/>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Digite sua senha" required/>
                                </div>
                            </div>
                            <button type='submit' class="ui submit violet button fluid color-button" value='Entrar'>Entrar</button>
                        </form>
                        <div class="ui message">
                            Novo por aqui? <a href="{% url 'cadastro_usuario' %}">Inscreva-se</a>
                        </div>
                    </div>
                    <div class="ui basic segment"></div>
                </div>
                <div class="five wide column"></div>
            </div>
        </article>
    </body>
</html>