{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }}/Principal {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="two wide column"></div>
<div class="grid row centered">
<h1 class="centered aligned">Escolha um assunto abaixo para acessar as postagens</h1>
<div class="ui center aligned medium images">
    {% for classe in classes %}
        <a href="{% url 'visualizar_posts' classe.id %}">
  <img class="ui medium image" src="{{ classe.image.url }}">
        <div class="ui violet icon button" data-tooltip="{{ classe.titulo }}">
  <i class="hand point left outline icon"></i>
</div>
        </a>
  {% endfor %}

</div>
</div>

{% else %}
    <div class="two wide column"></div>
    <div class="twelve wide column">

        <div>
            <img class="ui centered huge image" src="{% static "image/logo_blog.png" %}">
        </div>

    </div>
{% endif %}
{% endblock %}