{% extends "base.html" %}
{% load static %}
{% block title %}{{ block.super }}/Perfil {% endblock %}
{% block content %}


<div class="ui fluid card">
    <div class="ui fluid image">
        <svg width="900" height="200">
            <image xlink:href="{% static 'image/volunteering-pic.png' %}" x="0" y="0" width="100%" height="100%"></image>
        </svg>
    </div>
    <div class="content">
        <h2 class="ui center aligned header"><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {{ user.username }}
            </font></font></h2>
            <div class="ui center aligned description"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  {{ user.first_name }} {{ user.last_name }}
                </font></font></div>
              </div>
        <div class="ui center aligned meta">
            {% for p in perfil %}
        <span class="date"><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;"><a href="{% url 'update_perfil' user.id %}">
            Editar usuário </a></font>
          </font></span>
      </div>
      {% endfor %}
    <div class="ui center aligned extra content">
      <a>
        <i class="user icon"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        22 amigos
      </font></font></a>
    </div>
  </div>

<a href="{% url 'post_new' %}">Escrever Post</a>

{% for post in posts %}
{% if post.auth == user.username %}

<h2>{{ post.title }}</h2>

{% endif %}
{% endfor %}

{% endblock %}